body {
    font-family: Arial, sans-serif;
    background-color: #F2A45C;
    margin: 0;
}
section {
  max-width: 500px;
  margin: 60px auto;
  background: white;
  padding: 25px;
  border-radius: 4px;
}
h1 {
  color: #04AA6D;
}
button {
    background: #FC0000;
    color: yellow;
    border: none;
    padding: 10px 18px;
    border-radius: 4px;
}
a{
  color: #10E864;
}
